body {
	background-color: #D6D6D6;
	margin: 0;
	color: white;
}

#wrap	{
	width: 100%;
	height: 50px;
	margin: 0;
	z-index: 99;
	position: fixed;
	top: 0;
	background-color: #777777;
}

footer {
	background-color: blue;
	width: 100%;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	clear: both;
}

.navbar	{
	height: 50px;
	padding: 0;
	width: 78vw;
	margin: 0 0 0 11vw;
	position: absolute;
	border-right: 1px solid #757575; 
}

.navbar li 	{
	height: auto;
	width: 15.6vw;
	float: left;
	text-align: center; 
	list-style: none; 
	font: normal bold 12px/1.2em Arial, Verdana, Helvetica;  
	padding: 0;
	margin: 0;
	background-color: #666666;
}

.navbar a	{							
	padding: 18px 0; 
	border-left: 1px solid #757575;
	border-right: 1px solid #575757;
	text-decoration: none; 
	color: white;
	display: block;
}

.navbar li:hover, a:hover {
 	background-color: #8A8A8A;
 } 

.navbar li ul {
	display: none; 
	height: auto;									
	margin: 0;
	padding: 0;		
}				

.navbar li:hover ul {
	display: block;
}

.navbar li ul li {
 	background-color: #757575;
	min-width: 100%;
	width: auto;
	text-align: left;
} 

.navbar li ul li a {
	border-left: 1px solid #575757; 
	border-right: 1px solid #575757; 
	border-top: 1px solid #757575; 
	border-bottom: 1px solid #575757; 
	padding-left: 10px;
}
				
.navbar li ul li a:hover {
	background-color: #8A8A8A;
}

.active {
	background-color: #8A8A8A;
}

.inhoud {
	padding: 20px 0 20px 0;
	margin-top: 30px;
	background-color: #D1D1D1;
	margin-left: 11vw;
	width: 78vw;
	/*border-left: 1px solid #C2C2C2;
	border-right: 1px solid #C2C2C2;*/
	height: auto;
	color: black;
}

.inhoud h1, h2, h3, h4, h5, h6, p {
	margin-left: 3vw;
	margin-right: 3vw;
}

.images {
	margin-left: 2vw;
	height: auto;
	width: 100%;
	clear: both;
}

.imgthingie {
	width: 13.5vw;
	height: 13.5vw;
	float: left;
	border: white solid 0.5vw;
	padding: 1vw;
	margin: 1vw;
}

img {
	float: center;
	max-width: 100%;
	max-height: 100%;
}

.photonav {
	clear: both; 
	padding-left: 3vw;
}

#references {
	clear: both;
	min-height: 20px;
}
