footer {
	background-color: blue;
	width: 75%;
	margin-left: 12.5%;
}

.funtimes  {
	animation-duration: 1s;
	animation-name: blink;
	animation-iteration-count: infinite;
	animation-timing-function: steps(2, start);

	color: red;
	font-family: 'Comic Sans MS';
}

@keyframes blink {
	80% {
		visibility: hidden;
	}
}
