body {
	background-color: #000000;
	margin: 0;
}

#wrap	{
	width: 100%;
	height: 50px;
	margin: 0;
	z-index: 99;
	position: fixed;
	top: 0;
	background-color: #666666;
}

footer {
	background-color: blue;
	width: 100%;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.funtimes  {
	animation-duration: 1s;
	animation-name: blink;
	animation-iteration-count: infinite;
	animation-timing-function: steps(2, start);

	color: red;
	font-family: 'Comic Sans MS';
}

@keyframes blink {
	80% {
		visibility: hidden;
	}
}

.navbar	{
	height: 50px;
    padding: 0;
	margin: 0;
	position: absolute;
	border-right: 1px solid #757575; 
}

.navbar li 	{
	height: auto;
	width: 150px;
	float: left;
	text-align: center; 
	list-style: none; 
	font: normal bold 12px/1.2em Arial, Verdana, Helvetica;  
	padding: 0;
	margin: 0;
	background-color: #666666;
}

.navbar a	{							
	padding: 18px 0; 
	border-left: 1px solid #757575;
	border-right: 1px solid #575757;
	text-decoration: none; 
	color: white;
	display: block;
}

 .navbar li:hover, a:hover {
 	background-color: #8A8A8A;
 } 

.navbar li ul {
	display: none; 
	height: auto;									
	margin: 0;
	padding: 0;		
}				

.navbar li:hover ul {
	display: block;
}

.navbar li ul li {
 	background-color: #757575;
} 

.navbar li ul li a {
	border-left: 1px solid #575757; 
	border-right: 1px solid #575757; 
	border-top: 1px solid #757575; 
	border-bottom: 1px solid #575757; 
}
				
.navbar li ul li a:hover {
	background-color: #8A8A8A;
}

.active {
	background-color: blue;
}

.inhoud {
	padding: 20px;
	margin-top: 30px;
	background-color: #D1D1D1;
	height: 1500px;
}
